:local(.filterMenu) {

  ul {

    li {

      overflow: hidden;

      input:not(:checked),
      input:checked {
        display: none;
      }

      input:checked + label {

        background-color: #ffffff;

        &::before {
          background-color: #e3051a;
        }

      }

      label {
        cursor: pointer;
        display: block;
        position: relative;
        height: 60px;
        line-height: 60px;
        padding-left: 66px;
        background-color: #f8f8f8;
        color: #474747;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;

        &::before {
          content: '';
          position: absolute;
          left: 25px;
          top: 50%;
          width: 15px;
          height: 15px;
          margin-top: -8px;
          background-color: #a7a7a7;
        }

      }

    }

  }

}
