:local(.sectionTitle) {
  margin-top: 20px;
  margin-bottom: 20px;

  span {
    display: inline-block;
    color: #fff;
    background-color: #e3051a;
    padding: 10px 10px;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

}
