gi-menu {

  ion-card {
    overflow: visible; //

    ion-grid {
      margin: 0!important; //
      padding: 0!important; //

      ion-row {

        ion-col {
          margin: 0 !important;
          padding: 0 !important;

          &.search {
            background: color($colors, light);
            padding: 15px 50px 15px 15px!important;
            overflow: hidden;
          }
        }
      }
    }
  }
}
