page-posts {

  .titleContainer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    h3 {
      margin: 10px;
      margin-left: 0;
      padding: 10px;
      text-transform: uppercase;
      color: #fff;
      background: color($colors, primary);
      font-size: 12px;
      display: inline-block;
    }
  }

  .what-is-love_baby-dont-hurt-me_dont-hurt-me_no-more {
    text-align: center;
    font-style: italic;
    color: #666;
  }

}
