page-posts {

  h3 {
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    background: color($colors, primary);
    font-size: 12px;
    display: inline-block;
  }

}
