:local(.article){
  width: 100%;
  margin-bottom: 40px;

  *{
    transition: all 0.4s;
  }

  .imgContainer{
    width: 100%;
    height: 450px;
    overflow: hidden;
    text-align: center;

    @media screen and (max-width: 750px) {
      height: 320px;
    }


    img{
      width: 100%;
      height: 100%;
      margin: auto;
      object-fit: cover;
    }
  }

  .contentContainer{
    padding: 50px;
    background: #fff;

    @media screen and (max-width: 550px) {
        padding: 20px;
        padding-top: 30px;
    }

    h2{
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 41px;
      margin-bottom: 10px;

      @media screen and (max-width: 750px) {
        font-size: 28px;
        line-height: 31px;
      }

      @media screen and (max-width: 400px) {
        font-size: 21px;
        line-height: 24px;
      }


    }

    .date{
      color: #e3051a;
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
      font-size: 12px;
      margin-bottom: 35px;
    }

    .textContent p{
      overflow: hidden;
      color: #474747;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 15px;
    }



  }

  .blockContainer{
    background: #fff;
    border-top: solid 1px rgba(0,0,0,0.2);

    @media screen and (max-width: 488px) {
      text-align: center;
    }

    p {
      max-width: 140px;
    }


    .profilContainer{
      display: inline-block;
      padding: 40px;
      min-width: 65%;
      border-right: solid 1px rgba(0,0,0,0.2);

      @media screen and (max-width: 840px) {
        min-width: 40%;
      }

      @media screen and (max-width: 550px) {
        padding: 20px;
      }

      @media screen and (max-width: 488px) {
        width: calc(100% - 80px);
        text-align: center;
        border: none;
        padding-top: 20px;
        padding-bottom: 0;
      }


      .profilPic{
        height: 60px;
        width: 60px;
        border-radius: 60px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;

        img{
          height: 60px;
          min-width: 60px;
          min-height: 60px;
        }
      }

      .authorContainer{
        display: inline-block;
        vertical-align: middle;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #474747;
        text-align: left;

        @media screen and (max-width: 488px) {
          vertical-align: top;
        }


        .postText{
          color: #e3051a;
          margin-bottom: 5px;
        }
      }
    }
    .categoryContainer{
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      vertical-align: middle;
      font-size: 12px;
      padding: 40px;
      color: #474747;

      @media screen and (max-width: 550px) {
        padding: 20px;
      }


      @media screen and (max-width: 488px) {
        width: calc(100% - 80px);
        text-align: center;
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 50px;
        margin-top: -22px;

        .profilPic{
          width: 60px;
          display: inline-block;
        }
      }

      .authorContainer{
        display: inline-block;
        text-align: left;
      }


      .postText{
        color: #e3051a;
          margin-bottom: 5px;
      }

    }
  }

}
