:local(.filter) {

  position: relative;
  z-index: 1001;
  width: 100%;
  max-width: 400px;
  height: 60px;
  background: #fff;

  .filter-toggle {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 60px;
    margin-left: 25px;
    color: #474747;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;

    & > * {
      margin-left: 38px;
    }

  }

  .filter-submenu {
    z-index: 400;
    position: absolute;
    top: 100%;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.16);

  }

}
