:local(.filter) {

  position: relative;
  width: 100%;
  height: 60px;
  background: #fff;

  .filter-toggle {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 60px;
    margin-left: 25px;
    color: #474747;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;

    & > * {
      margin-left: 38px;
    }

  }

  .filter-submenu {
    z-index: 400;
    position: absolute;
    top: 100%;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.16);

    .filter-ok {
      border: none;
      background: none;
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      padding: 0 30px;
      margin-bottom: 15px;
      margin-right: 15px;
      color: #fff;
      background-color: #e3051a;
      font-family: 'Open Sans';
      font-size: 18px;
      font-weight: 700;
      position: absolute;
      bottom: 100%;
      right: 0;
    }

  }

}
