:local(.infoPost) {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  background: #fff;
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.1);

  @media screen and (min-width: 551px) {
    padding: 40px;
    text-align: left;
  }


    .profilPic {
      overflow: hidden;
      display: inline-block;
      border-radius: 60px;
      height: 60px;
      width: 60px;
      margin-right: 19px;
      vertical-align: middle;

      img {
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: cover;
      }
    }


  .containerInfoPost {
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    @media screen and (min-width: 551px) {
      display: inline-flex;
      justify-content: space-between;
      width: calc(100% - 80px);
    }

    .profilContainer {
      cursor: pointer;

      &:hover {
        .authorDetails {
          display: block;
        }
      }

      @media screen and (min-width: 551px) {
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
      }

      .authorDetails {
        display: none;
        position: absolute;
        z-index: 10;
        margin-top: 135px;
        background: #fff;
        box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);
        padding: 20px;

        @media screen and (max-width: 550px) {
          margin-top: 50px;
          max-width: 245px;
          margin-left: -100px;
        }

        p{
          line-height: 18px;
        }

        p:nth-child(2n+0) {
          margin-bottom: 15px;
        }

        p:nth-child(odd) {
          color: #e3051a;
          font-weight: 700;
        }

        p:last-child {
          margin-bottom: 0px;
        }
      }

      .authorContainer {
        line-height: 1.5em;

        .postText {
          font-weight: 700;
          color: #e3051a;
        }
      }
    }

    .categoryContainer {
      line-height: 1.5em;

      @media screen and (min-width: 551px) {
        height: 60px;
        display: inline-flex;
        align-items: center;

        &::before {
          content: '';
          position: absolute;
          height: 140px;
          width: 1px;
          background: rgba(0,0,0,0.1);
        }
      }

      .authorContainer {
        line-height: 1.5em;

        @media screen and (min-width: 551px) {
          display: inline-block;
          padding-left: 40px;
        }

        .postText {
          font-weight: 700;
          color: #e3051a;
          margin-top: 5px;

          @media screen and (min-width: 551px) {
            margin-top: 0px;
          }

        }
      }
    }

  }
}
