<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="author">{{author.name}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">back</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list *ngIf="author">

  <ion-item *ngIf="author.hasNoInformations()">
    <p>Aucune informations</p>
  </ion-item>

  <ion-item *ngIf="author.title">
    <h2>Title</h2>
    <p>{{author.title}}</p>
  </ion-item>

  <ion-item *ngIf="author.email">
    <h2>Email</h2>
    <p><a [href]="'mailto:' + author.email">{{author.email}}</a></p>
  </ion-item>

  <ion-item *ngIf="author.phoneNumber">
    <h2>Phone</h2>
    <p><a [href]="'tel:' + author.phoneNumber">{{author.phoneNumber}}</a></p>
  </ion-item>

  <ion-item *ngIf="author.openingTimes">
    <h2>Opening Times</h2>
    <p [innerHtml]="author.openingTimes"></p>
  </ion-item>

</ion-list>

</ion-content>
