gi-new-comment {

  ion-card-header {
    color: color($colors, primary)!important;
    font-weight: bold;
  }

  form {

    ion-input {
      border-radius: 3px;
      border: 1px solid #888;
      margin-bottom: 10px;
    }

    ion-textarea {
      border-radius: 4px;
      border: 1px solid #888;
      margin-bottom: 10px;
    }

  }

}
