<ion-card>

  <ion-card-header>
    Comments ({{comments.length}})
  </ion-card-header>

  <ion-card-content>

    <ion-list>

      <ion-item *ngFor="let comment of comments">
        <h2>
          {{comment.name}}
          <small>{{comment.date | date:'medium'}}</small>
        </h2>
        <div [innerHTML]="comment.content"></div>
      </ion-item>

      <ion-item [hidden]="comments.length">
        <p>Aucun commentaire</p>
      </ion-item>

    </ion-list>

  </ion-card-content>

</ion-card>
