gi-post {

  ion-card {
    .thumbnailContainer {
      height: 320px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    ion-card-content {

      .fileLink {
        margin-top: 20px;
      }

      ion-card-title {
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: uppercase;
        line-height: 1.2em!important;
        margin-bottom: 10px!important;
        color: #474747!important;
      }

      h4 {
        font-weight: 800!important;
        color: color($colors, primary)!important;
        margin-bottom: 25px!important;
      }

      > div {
        img {
          height: auto!important;
        }
      }
    }
  }
}
