gi-post {

  ion-card {
    .thumbnailContainer {
      height: 320px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    ion-card-content {

      .fileLink {
        margin-top: 20px;
      }

      ion-card-title {
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: uppercase;
        margin-bottom: 10px!important;
        color: #474747!important;
        font-size: 21px!important;
        line-height: 24px!important;

        @media screen and (min-width: 400px) {
          font-size: 28px!important;
          line-height: 31px!important;
        }

        @media screen and (min-width: 760px) {
          font-size: 36px!important;
          line-height: 41px!important;
        }
      }

      h4 {
        font-weight: 800!important;
        color: color($colors, primary)!important;
        margin-bottom: 25px!important;
      }

      > div {
        img {
          height: auto!important;
        }
      }
    }
  }
}
