<ion-card *ngIf="post">
  <gi-video *ngIf="post.videoUrl" [url]="post.videoUrl"></gi-video>
  <div *ngIf="!post.videoUrl && post.thumbnail" class="thumbnailContainer">
    <img [src]="post.thumbnail.src" alt="" />
  </div>

  <ion-card-content>

    <ion-card-title [innerHtml]="post.title"></ion-card-title>

    <h4>{{post.date | date }}</h4>

    <div *ngIf="full" class="post__content" [innerHtml]="post.content"></div>

    <div *ngIf="!full" class="post__content post__excerpt" [innerHtml]="post.excerpt"></div>

    <div *ngIf="post.linkFile" class="fileLink">
      <ion-icon name="ios-document-outline"></ion-icon>
      <a [href]="post.linkFile.src" [innerHtml]="post.linkFile.title" download></a>
    </div>

    <div *ngIf="post.linkWeb" class="fileLink">
      <ion-icon name="ios-link-outline"></ion-icon>
      <a [href]="post.linkWeb.src" [innerHtml]="post.linkWeb.title"></a>
    </div>

  </ion-card-content>

  <gi-post-info [post]="post"></gi-post-info>

</ion-card>
