:local(.nav) {

  margin-bottom: 20px;

  .tmp-col {
    background: #fff;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .tmp-row50 {
      width: 100%;

      @media screen and (min-width: 661px) {
        float: left;
        width: 50%;
      }
    }

  }

}
