:local(.nav) {

  margin-bottom: 20px;

  .tmp-col {
    background: #fff;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .tmp-row50 {
      width: 100%;

      @media screen and (min-width: 661px) {
        float: left;
        width: 50%;
      }
    }

  }

  p.notification-disabled {
    display: none;

    @media screen and (min-width: 661px) {
      display: block;
      color: #474747;
      font-family: "Open Sans", sans-serif;
      height: 60px;
      line-height: 60px;
      font-weight: 400;
      font-size: 14px;
      width: calc(100% - 25px);
      font-style: italic;
      text-align: right;
      padding-right: 25px;
    }
  }

}
